<section id="point-shop">
  <section class="point-shop">
    <div class="point-shop-nav">
      <h1>THE POINTS SHOP</h1>

      <div>
        <span>Your Balance</span>
        <span>{{ point }}</span>
      </div>
    </div>

    <div class="point-shop-body">
      <h2 class="mt">ALL ANIMATED AVATARS</h2>

      <div class="point-shop-body-items">
        <app-point-item-card
          *ngFor="let avatar of animatedAvatars"
          [item]="avatar"
          [isOwned]="ownedAnimatedAvatars.includes(avatar.id)"
          type="Animated Avatar"
        ></app-point-item-card>
      </div>

      <h2 class="mt">ALL AVATAR FRAMES</h2>

      <div class="point-shop-body-items">
        <app-point-item-card
          *ngFor="let frame of avatarFrames"
          [item]="frame"
          type="Avatar Frame"
          [isOwned]="ownedAvatarFrames.includes(frame.id)"
        ></app-point-item-card>
      </div>

      <h2 class="mt">ALL AVATAR FRAMES</h2>

      <div class="point-shop-body-items">
        <app-point-item-card
          *ngFor="let bg of profileBackgrounds"
          [item]="bg"
          [isOwned]="ownedProfileBackgrounds.includes(bg.id)"
          type="Profile Background"
        ></app-point-item-card>
      </div>

      <h2 class="mt">ALL MINI PROFILE BACKGROUND</h2>

      <div class="point-shop-body-items">
        <app-point-item-card
          *ngFor="let bg of miniProfileBackgrounds"
          [item]="bg"
          [isOwned]="ownedMiniProfileBackgrounds.includes(bg.id)"
          type="Mini Profile Background"
        ></app-point-item-card>
      </div>

      <h2 class="mt">ALL CHAT STICKERS</h2>

      <div class="point-shop-body-items">
        <app-point-item-card
          *ngFor="let sticker of chatStickers"
          [item]="sticker"
          [isOwned]="ownedChatStickers.includes(sticker.id)"
          type="Chat Sticker"
        ></app-point-item-card>
      </div>
    </div>
  </section>
</section>
