<div class="edit-mini-background">
  <div class="edit-mini-background-header">
    <h2>MINI PROFILE BACKGROUND</h2>
  </div>

  <form class="edit-mini-background-form" [formGroup]="editInfoForm">
    <div class="current">
      <h3>Current Mini Profile Background</h3>
      <div></div>
    </div>

    <div class="owned">
      <h3>Choose Mini Profile Background</h3>
      <div class="owned-inner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <p class="error">{{ errorMsg }}</p>

    <div style="text-align: right">
      <button (click)="onSave()">Save</button>
    </div>
  </form>
</div>
