<a  routerLink="/game/{{game.id}}"
    class="category-game-card" 
    (mouseenter)="showGameSummary()" 
    (mouseleave)="unshowGameSummary()"
>
    <div class="category-game-card-img">
        <img src="{{imageUrl}}" alt="{{game.title}}">
    </div>

    <div 
        class="category-game-card-desc" 
        [class.active]="isActive || this.tabParent.currentActiveGame == this.game" 
    >
        <div class="category-game-card-desc-header">
            <h5>{{game.title}}</h5>

            <div>
                <span *ngFor="let tag of game.tags; let i = index">
                    {{tag.name + ((i == game.tags.length - 1) ? "" : ", ") }}
                </span>
            </div>
        </div>

        <div class="category-game-card-desc-detail">
            Rp {{game.price}}
        </div>
    </div>
</a>