<section>
    <h1>Featured & Recommended</h1>
    
    <div class="main-slider">
        <div class="arrow-left">
            <div (click)="OnArrowLeftClick()"><i class="fas fa-arrow-left"></i></div>
        </div>
    
        <div class="main-slider-container">
            <div class="main-slider-container-images">
                <app-featured-card *ngFor="let game of games" [game]="game"></app-featured-card>
            </div>
        </div>
    
        <div class="arrow-right">
            <div (click)="OnArrowRightClick()"><i class="fas fa-arrow-right"></i></div>
        </div>
    </div>
</section>