@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.unsuspend-request-card {
    cursor: pointer;
    &-header {
        background-color: #015e80;
        color: #f4f4f4;
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        margin-bottom: 0.5rem;
 
        h2 {
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            font-weight: normal;
            
            span {
                font-weight: bolder;
                margin-left: 0.5rem;
                font-size: 1.2rem;
            }
        }
     }

     &-content {
         color: #F4F4F4;

         
     }
}