@import "../../../styles/variables";

footer {
  background: $primary-background;
  padding: 2rem 0;

  .footer {
    width: 65%;
    margin: 0 auto;
    color: #8f98a0;

    &-top {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #8f98a0;
      border-bottom: 1px solid #8f98a0;
      padding: 0.75rem 0;

      div:nth-child(1) {
        width: 10%;

        img {
          width: 100%;
        }
      }

      p {
        width: 65%;
      }

      div:nth-child(2) {
        width: 20%;

        img {
          width: 100%;
        }
      }
    }

    &-bottom {
      padding-top: 0.5rem;
      a {
        color: #8f98a0;
        font-size: 1rem;
        text-decoration: none;
        margin-right: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
