<div class="listing-modal">
  <div class="listing-modal-content">
    <div class="listing-modal-content-top">
      <h1>BUY - {{ gameItem.name }}</h1>
      <span (click)="onClose()" style="cursor: pointer">&times;</span>
    </div>

    <div class="listing-modal-content-bottom">
      <div class="listing-modal-content-bottom-game">
        <div class="listing-modal-content-bottom-game-img">
          <img src="http://localhost:8080/images/game-items/1/1.png" alt="" />
        </div>

        <div class="listing-modal-content-bottom-game-desc">
          <h2>{{ gameItem.name }}</h2>
          <span>{{ gameName }}</span>
        </div>
      </div>

      <form class="listing-modal-content-bottom-form">
        <div>
          <label>What price do you want to pay: </label>
          <input
            [(ngModel)]="price"
            [ngModelOptions]="{ standalone: true }"
            type="number"
          />
        </div>

        <div>
          <label>How many do you want to buy: </label>
          <input
            [(ngModel)]="quantity"
            [ngModelOptions]="{ standalone: true }"
            type="number"
          />
        </div>

        <label
          >Maximum price:
          <span class="a-name">{{
            highestPrice * 1.1 | currency: "Rp. "
          }}</span></label
        >
      </form>
    </div>

    <div class="listing-modal-content-summary" *ngIf="currentUser">
      <p>
        Payment Method:
        <span class="p-type"
          >My Steam Wallet
          <span>({{ currentUser.walletAmount | currency: "Rp. " }})</span></span
        >
      </p>
      <p>
        Steam account: <span class="a-name">{{ currentUser.accountName }}</span>
      </p>

      <div class="listing-modal-content-summary-confirm">
        <div>
          <input type="checkbox" />
          I agree to the terms of the Steam Subscriber Agreement (last updated
          28 Aug, 2020.)
          <p>
            After purchase, this item: <br />will not be tradable for one week
            <br />can immediately be re-sold on the Steam Community Market
          </p>
        </div>

        <button (click)="onPlaceOrder()">PLACE ORDER</button>
      </div>
    </div>
  </div>
</div>
