<div class="listing-modal">
  <div class="listing-modal-content">
    <div class="listing-modal-content-top">
      <h1>BUY - 2020 RMR LEGEND</h1>
      <span (click)="onClose()" style="cursor: pointer">&times;</span>
    </div>

    <div class="listing-modal-content-bottom">
      <div class="listing-modal-content-bottom-game">
        <div class="listing-modal-content-bottom-game-img">
          <img src="http://localhost:8080/images/game-items/1/1.png" alt="" />
        </div>

        <div class="listing-modal-content-bottom-game-desc">
          <h2>2020 RMR LEGEND</h2>
          <span>Counter Strike: Global Offensive</span>
        </div>
      </div>

      <form class="listing-modal-content-bottom-form">
        <div>
          <label>What price do you want to pay: </label>
          <input type="text" />
        </div>

        <div>
          <label>How many do you want to buy: </label>
          <input type="text" />
        </div>

        <label>Maximum price: <span class="a-name">Rp 20132</span></label>
      </form>
    </div>

    <div class="listing-modal-content-summary">
      <p>
        Payment Method:
        <span class="p-type">My Steam Wallet <span>(Rp 29111)</span></span>
      </p>
      <p>Steam account: <span class="a-name">lionelritchie</span></p>

      <div class="listing-modal-content-summary-confirm">
        <div>
          <input type="checkbox" />
          I agree to the terms of the Steam Subscriber Agreement (last updated
          28 Aug, 2020.)
          <p>
            After purchase, this item: <br />will not be tradable for one week
            <br />can immediately be re-sold on the Steam Community Market
          </p>
        </div>

        <button>PLACE ORDER</button>
      </div>
    </div>
  </div>
</div>
