<nav class="nav">
  <div class="nav-container">
    <div class="nav-container-left">
      <div
        (click)="navMobileActive = !navMobileActive"
        class="nav-container-left-hamburger"
      >
        ☰
      </div>
      <a routerLink="/" class="nav-container-left-logo">
        <img src="../../../assets/images/logo.svg" height="45" alt="logo" />
      </a>
      <ul class="nav-container-left-links">
        <li>
          <a routerLink="/market">MARKET</a>
        </li>
        <li>
          <a routerLink="/community">COMMUNITY</a>
        </li>
        <li>
          <a routerLink="/redeem-wallet">REDEEM WALLET</a>
        </li>
        <li>
          <a routerLink="/points/shop">POINTS SHOP</a>
        </li>
      </ul>
      <div></div>
    </div>
    <div class="nav-container-right">
      <div *ngIf="!loggedUser" class="guest">
        <a routerLink="/login">login</a> |
        <span>
          <span (click)="showLanguageList()">language ▼</span>
          <ul id="language-list">
            <li *ngFor="let lang of languageList">{{ lang }}</li>
          </ul>
        </span>
      </div>

      <div *ngIf="loggedUser" class="logged-in">
        <div class="logged-in-left">
          <span>
            <span class="logged-in-left-envelope"
              >2 <i class="fas fa-envelope"></i
            ></span>
            <span (click)="showUserMenuList()" class="logged-in-left-name">
              <span> {{ loggedUser.profile.displayName }} ▼</span>
              <ul id="user-menu">
                <li>
                  <a routerLink="/profile/{{ loggedUser.profile.customURL }}"
                    >View Profile</a
                  >
                </li>
                <li (click)="logout()">
                  logout:
                  <span class="account-name">{{ loggedUser.accountName }}</span>
                </li>
              </ul>
            </span>
          </span>

          <div>{{ loggedUser.walletAmount | currency: "Rp. " }}</div>
        </div>

        <span class="logged-in-right">
          <img
            src="{{ loggedUserImgUrl }}"
            alt="{{ loggedUser.accountName }}"
          />
        </span>
      </div>
    </div>
  </div>

  <div class="nav-mobile" [class.nav-active]="navMobileActive">
    <div class="nav-mobile-user" *ngIf="loggedUser">
      <div class="nav-mobile-user-profile">
        <div class="nav-mobile-user-profile-img">
          <img
            src="{{ loggedUserImgUrl }}"
            alt="{{ loggedUser.accountName }}"
          />
        </div>

        <div class="nav-mobile-user-profile-name">
          {{ loggedUser.accountName }}
        </div>
      </div>

      <div class="nav-mobile-user-wallet">
        Wallet <span>({{ loggedUser.walletAmount | currency: "Rp. " }})</span>
      </div>
    </div>

    <ul class="nav-mobile-top">
      <li>
        <a href="/points/shop">GAMES</a>
      </li>
      <li>
        <a href="/market">MARKET</a>
      </li>
      <li>
        <a href="/community">COMMUNITY</a>
      </li>
      <li>
        <a href="/redeem-wallet">REDEEM WALLET</a>
      </li>
      <li>
        <a href="/points/shop">POINTS SHOP</a>
      </li>
    </ul>

    <ul class="nav-mobile-bottom">
      <li *ngIf="!loggedUser">
        <a href="/login">LOGIN</a>
      </li>

      <li *ngIf="loggedUser">
        <a href="/profile/{{ loggedUser.profile.customURL }}">MY PROFILE</a>
      </li>

      <li *ngIf="loggedUser">
        <a href="/profile/{{ loggedUser.profile.customURL }}/friends"
          >FRIENDS</a
        >
      </li>

      <li *ngIf="loggedUser">
        <a (click)="logout()">LOGOUT</a>
      </li>
    </ul>

    <span class="close" (click)="navMobileActive = !navMobileActive"
      >&times;</span
    >
  </div>
</nav>
