@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.edit-info {
  padding-bottom: 2rem;
  &-header {
    background-color: #015e80;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      font-weight: normal;

      span {
        font-weight: bolder;
        margin-left: 0.5rem;
        font-size: 1.2rem;
      }
    }
  }

  &-form {
    color: #f4f4f4;
    background: rgba(0, 0, 0, 0.4);
    padding: 1.5rem;

    h3 {
      font-weight: normal;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .img-container {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .avatar {
      display: flex;
      justify-content: space-between;

      div:nth-child(1) {
        width: 50%;

        .avatar-current {
          // background: url("http://localhost:2000/images/avatar-frame/1.png");
          background-size: contain;
          background-repeat: no-repeat;
          padding: 1.5rem;
        }
      }

      div:nth-child(2) {
        width: 50%;

        p {
          margin-top: 1rem;
        }
      }
    }

    .avatar-frame {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.75rem;
      width: 100%;

      div {
        width: 100%;
        cursor: pointer;

        img {
          width: 100%;
        }

        &:hover {
          transition: all 0.5s;
          transform: scale(1.25);
        }
      }

      @include for-tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include for-desktop {
        grid-template-columns: repeat(5, 1fr);
      }
    }

    div {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.25rem;
      }

      input[type="text"],
      input[type="date"],
      input[type="number"],
      input[type="file"],
      select,
      textarea {
        color: #f4f4f4 !important;
        font-size: 1rem;
        @include input-dark;
        padding: 0.75rem;
        width: 100%;
      }

      textarea {
        height: 7rem;
        resize: none;
      }

      button {
        width: 20%;
        @include blue-button-style;
      }
    }
  }
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  span {
    display: flex;

    label {
      margin-left: 0.5rem;
    }
  }
}
