<div class="edit-theme">
  <div class="edit-theme-header">
    <h2>THEME</h2>
  </div>

  <form class="edit-theme-form" [formGroup]="editInfoForm">
    <div class="current">
      <h3>Current Theme</h3>
      <div></div>
    </div>

    <div class="owned">
      <h3>Choose Theme</h3>
      <div class="owned-inner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <p class="error">{{ errorMsg }}</p>

    <div style="text-align: right">
      <button (click)="onSave()">Save</button>
    </div>
  </form>
</div>
