<section>
    <h1>Special Offers</h1>
    
    <div>
        <div>
            <app-special-offers-card></app-special-offers-card>
            <app-special-offers-card></app-special-offers-card>
        </div>

        <div>
            <app-special-offers-card></app-special-offers-card>
            <app-special-offers-card></app-special-offers-card>
        </div>

        <div>
            <app-special-offers-card></app-special-offers-card>
            <app-special-offers-card></app-special-offers-card>
        </div>
    </div>
</section>