@use '../../../styles/variables';
@import "../../../styles/mixins";

section {
  margin-top: 4rem;
  margin-bottom: 5rem;

  h1 {
    color: #fff;
    font-weight: normal;
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  .card-container {
    display: flex;
    position: relative;

    @include slider-arrow-style;

    &-outer {
      overflow: auto;

      &-inner {
        display: flex;
        width: 100%;
        transition: all 0.5s;

        app-special-offers-card {
          min-width: calc(100%);

          @include for-tablet {
            min-width: calc(50%);
          }

          @include for-desktop {
            min-width: calc(33.3% + 2px);
          }
        }
      }

      @include for-desktop {
        overflow: hidden;
      }
    }
  }

  @include for-desktop {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
