<div style="width: 60%; margin: 0 auto">
  <div style="background-color: #17212d; padding: 0.75rem; width: 100%">
    <img
      style="width: 10%"
      src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
      alt=""
    />
  </div>

  <div style="background-color: #1d2e41; padding: 1rem 2rem">
    <h1 style="font-size: 1.5rem; color: #f4f4f4; margin-bottom: 1rem">
      Dear <span style="font-size: 1.5rem; color: #6fa1bb">lionelritchiee</span>
    </h1>
    <p style="color: #f4f4f4">Here is the OTP code you need to login</p>
    <p style="color: #6fa1bb; font-size: 1.5rem; font-weight: bold">XZ12Z</p>

    <div style="height: 7.5rem; margin: 1rem; background: #17212d"></div>
  </div>
</div>
