@import "../../../styles/variables";

ul {
  display: flex;
  margin-top: 2rem;
  border-bottom: 5px solid #0d131b;
  margin-bottom: 1.5rem;

  li {
    list-style: none;
    color: #f4f4f4;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      color: #fff;
    }
  }
}

.active {
  border: 1px solid $secondary-color;
  border-bottom: none;
  background: #0d131b;
}
