<section id="friends" *ngIf="currentUser">
    <section>
        <div class="friends-header">
            <div>
                <img src="{{profileImgUrl}}" alt="{{currentUser.accountName}}">
            </div>

            <h1>{{currentUser.profile.displayName}}</h1>
        </div>

        <div class="friends-container">
            <div class="friends-container-left">
                <h2>FRIENDS</h2>

                <ul>
                    <li>
                        <a routerLink="/profile/{{currentUser.profile.customURL}}/friends">
                            <i class="fas fa-user"></i> 
                            {{ loggedUserId === currentUser.id ? 'Your' : 'All'}} Friends
                        </a>
                    </li>
                    <li *ngIf="loggedUserId === currentUser.id">
                        <a routerLink="/profile/{{currentUser.profile.customURL}}/friends/add"><i class="fas fa-user-plus"></i> Add Friends</a>
                    </li>
                    <li *ngIf="loggedUserId === currentUser.id">
                        <a routerLink="/profile/{{currentUser.profile.customURL}}/friends/pending"><i class="fas fa-envelope"></i> Pending Invites</a>
                    </li>
                </ul>
            </div>

            <div class="friends-container-right">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</section>