@import "../../../styles/variables";
@import "../../../styles/mixins";

#redeem-wallet {
  width: 90%;
  padding-top: 1.5rem;
  margin: 0 auto;
  min-height: 100vh;

  h1 {
    font-weight: normal;
    color: #f4f4f4;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $secondary-color-light;

    @include for-desktop {
      font-size: 2.25rem;
    }
  }

  .redeem-wallet-container {
    display: flex;
    flex-direction: column;

    &-left {
      width: 100%;
      color: #c6d4df;

      h2 {
        font-weight: normal;
        color: #f4f4f4;
        font-size: 1.5rem;

        @include for-desktop {
          font-size: 1rem;
        }
      }

      form {
        margin-top: 1.75rem;

        div {
          display: flex;
          justify-content: space-between;
          input {
            width: 75%;
            margin-top: 0.35rem;
            display: block;
            background: rgba(0, 0, 0, 0.4);
            border: 1px solid #000;
            border-radius: 0.25rem;
            box-shadow: 1px 1px 0px #45556c;
            padding: 0.5rem;
            font-size: 1.1rem;
            color: #f4f4f4;
            outline: none;
          }

          button {
            width: 20%;
            @include blue-button-style;
          }
        }
      }

      p {
        margin-top: 1rem;
      }

      @include for-desktop {
        width: 65%;
      }
    }

    &-right {
      width: 100%;
      color: #f4f4f4;
      margin-top: 2rem;

      &-card {
        width: 100%;
        margin-bottom: 1rem;

        &-header {
          background-color: #323e4c;
          color: #f4f4f4;
          width: 100%;
          padding: 0.5rem 0.5rem;
        }

        &-body {
          padding: 0.75rem;
          border-top: none;
          background: rgba(0, 0, 0, 0.2);

          div {
            display: flex;
            justify-content: space-between;

            span:nth-child(1) {
              color: #666;
            }

            span:nth-child(2) {
              color: #f4f4f4;
              font-size: 1.5rem;
            }
          }

          button {
            @include blue-button-style;
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.2rem 0;
          }
        }
      }

      @include for-desktop {
        width: 35%;
        margin-left: 1rem;
        margin-top: 0;
      }
    }

    @include for-desktop {
      flex-direction: row;
    }
  }

  @include for-desktop {
    // grid-template-columns: 20% 65%;
    width: 65%;
  }
}
