@mixin for-phone {
    @media (min-width: 480px) { @content; }
}

@mixin for-tablet {
    @media (min-width: 768px) { @content; }
}

@mixin for-desktop {
    @media (min-width: 1024px) { @content; }
}

@mixin slider-arrow-style {
    .arrow-right, .arrow-left {
        top: 95%;
        margin-top: 0.5rem;
        cursor: pointer;

        div {
            display: flex;
            align-items: center;
            height: 50%;
            padding: 1rem;
        }

        @include for-desktop {
            top: calc(50% - 2.25rem);
            margin-top: 0;
        }
    }

    .arrow-right {
        position: absolute;
        background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
        right: 1.5rem;

        &:hover {
            background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 255, 255, 255, 0.3) 95%);
        }

        @include for-desktop {
            right: -2.75rem;
        }
    }

    .arrow-left {
        position: absolute;
        background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
        
        &:hover {
            background: linear-gradient( to right, rgba( 255, 255, 255, 0.3) 5%,rgba(0, 0, 0, 0) 95%);
        }
        
        @include for-desktop {
            left: -2.75rem;
        }
    }
}