$primary-background: #171a21;
$secondary-background: #1b2838;
$secondary-background-light: #263e53;
$primary-color: #b8b6b4;
$primary-color-light: #c6d4df;
$secondary-color: #66c0f4;
$secondary-color-light: #8ca9bd;
$primary-green: #4c6b22;
$text-green: #a4d007;
$text-gray: #c6d4df;

$btn-bg: rgba(43, 52, 68);
$card-bg: rgba(0, 0, 0, 0.3);
