$primary-background : #171a21;
$secondary-background: #1B2838;
$secondary-background-light: #263E53;
$primary-color : #b8b6b4;
$primary-color-light: #c6d4df;
$secondary-color: #66c0f4;
$secondary-color-light: #8CA9BD;
$primary-green: #4C6B22;
$text-green: #A4D007; 
$text-gray: #c6d4df;