<div class="edit-background">
  <div class="edit-background-header">
    <h2>PROFILE BACKGROUND</h2>
  </div>

  <form class="edit-background-form">
    <div class="current">
      <h3>Current Background</h3>
      <div class="img-container">
        <img src="{{ activeBackgroundImageUrl }}" alt="" />
      </div>
    </div>

    <div class="owned">
      <h3>Your Background</h3>
      <div class="owned-inner">
        <div
          (click)="onChangeBg(profileBackgrounds[i])"
          *ngFor="let bgUrl of profileBackgroundsUrl; let i = index"
        >
          <img src="{{ bgUrl }}" alt="" />
        </div>
      </div>
    </div>

    <div style="text-align: right">
      <button (click)="onSave()">Save</button>
    </div>
  </form>
</div>
