<div [hidden]="!active" class="tab">
  <div class="category-tab-body">
    <div *ngIf="tabTitle == 'Image and Videos'">
      <app-image-video-post-card
        *ngFor="let post of imageVideoPosts; let idx = index"
        [post]="post"
        (click)="onShowImageVideoDetail(idx)"
      ></app-image-video-post-card>
    </div>

    <div *ngIf="tabTitle == 'Reviews'" class="reviews">
      <app-community-review-card
        *ngFor="let review of reviews"
        [review]="[review]"
        [trim]="true"
        (click)="redirectDetail(review)"
      ></app-community-review-card>
    </div>

    <div class="discussion" *ngIf="tabTitle == 'Discussions'">
      <div>
        <app-game-discussion-card
          *ngFor="let game of showGames"
          [game]="game"
        ></app-game-discussion-card>
      </div>

      <div>
        <input
          [(ngModel)]="searchTerm"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          (ngModelChange)="filterGame()"
          placeholder="Search by game title..."
        />
        <button>Add new discussion</button>
      </div>
    </div>
  </div>
</div>
