@import "../../../styles/mixins";
@import "../../../styles/variables";

.tab {
  padding-bottom: 5rem;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @include for-desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.discussion {
  display: flex;
  flex-direction: column-reverse;
  div:nth-child(1) {
    width: 100%;
    @include for-desktop {
      width: 70%;
    }
  }

  div:nth-child(2) {
    width: 100%;
    margin-bottom: 2rem;

    input {
      @include input-dark;
      padding: 0.75rem;
      width: 100%;
      margin-bottom: 1rem;
    }

    button {
      width: 100%;
      @include blue-button-style;
    }

    @include for-desktop {
      width: 30%;
      margin-left: 1rem;
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  @include for-desktop {
    flex-direction: row;
  }
}
