@import "../../../styles/mixins";

#admin-login { 
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) no-repeat, url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/acct_creation_bg.jpg) -45vw 0 no-repeat, #212429;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

   .login-left {
       width: 40%;
       height: fit-content;

    &-form {
        margin-right: 5rem;
        padding: 3rem; 
        width: 100%;
        color: #b8b6b4;
        
        h1 {
            font-weight: normal;
            font-size: 2.2rem;
            margin-bottom: 2rem;
            color: #F4F4F4;
            text-align: center;

        }
        
        label {
            font-size: 1.1rem;
        }

        input[type=text], input[type=password]{
            margin-top: 0.35rem;
            margin-bottom: 1.25rem;
            display: block;
            width: 100%;
            background: #32353C;
            border: none;
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 1.1rem;
            color: #F4F4F4;
            outline: none;
        }

        &-button {
            text-align: left;

            button {
                width: 100%;
                background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
                font-size: 1.1rem;
                border: none;
                padding: 0.6rem;
                color: #F4F4F4;
                border-radius: 0.25rem;
                margin-top: 2rem;
                cursor : pointer;

                &:hover {
                    background: lighten(#47bfff, 2) ;
                }
            }
        }
    }
   }
}

.error-msg {
    color: red;
    margin-top: 0.3rem;
}