<div class="user-review-card">
  <div class="user-review-card-img">
    <img
      src="{{ profilePictUrl }}"
      alt="{{ comment.srcUser.profile.displayName }}"
    />
  </div>

  <div class="user-review-card-content">
    <a routerLink="/profile/{{ comment.srcUser.profile.customURL }}">
      {{ comment.srcUser.profile.displayName }}
      <span>
        {{ convertedDate.getDate() }} {{ monthStr }},
        {{ convertedDate.getFullYear() }}
        @
        {{ convertedDate.getHours() }}:{{ convertedDate.getMinutes() }}
      </span>
    </a>
    <p>{{ comment.content }}</p>
  </div>
</div>
