<div>
    <section class="card">
        <div class="card-img">
            <img src="https://via.placeholder.com/600x300" style="width: 100%;" alt="">
        </div>
    
        <div class="card-desc">
            <p>"A great challenging puzzle game in which you need to think, it seems to you that everything is simple, and there is nothing complicated in the game, but the game will give you more and more challenge..."</p>
            <div>
                <a href="">Read Entire Review</a>
                <div>
                    <div>
                        <img src="https://via.placeholder.com/100x100" alt="">
                        <div>EGOIST</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>