<section id="manage-user">
    <section>
        <div class="manage-user-container">
            <div class="manage-user-container-left">
                <h2>Manage User</h2>

                <ul>
                    <li>
                        <a routerLink="/">
                            <i class="fas fa-gamepad"></i>
                            All Users
                        </a>
                    </li>
                    <li>
                        <a routerLink="/"><i class="fas fa-plus-square"></i> Add Users</a>
                    </li>
                </ul>

                <h2 style="margin-top: 2rem;">Other</h2>
                <ul>
                    <li>
                        <a routerLink="/admin/manage-game">
                            <i class="fas fa-plus-square"></i> 
                            Go to Manage Game
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/manage-promo">
                            <i class="fas fa-plus-square"></i> 
                            Go to Manage Promo
                        </a>
                    </li>
                </ul>
            </div>

            <div class="manage-user-container-right">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</section>