<div class="discussion-card">
  <div class="discussion-card-top">
    <div class="discussion-card-top-img">
      <img src="{{ headerUrl }}" alt="" />
    </div>

    <span>{{ game.title }}</span>
  </div>

  <div class="discussion-card-middle">
    <a
      *ngFor="let post of game.topThreeDiscussions"
      routerLink="/discussion/{{ post.id }}"
      class="discussion-card-middle-post"
    >
      <div class="discussion-card-middle-post-left">
        <div>
          <i class="fas fa-envelope"></i>
          <h2>{{ post.title }}</h2>
        </div>
        <span>{{ post.user.accountName }}</span>
      </div>

      <div class="discussion-card-middle-post-right">
        {{ post.createdAt | date }}
      </div>
    </a>
  </div>

  <div class="discussion-card-bottom"></div>
</div>
