@import "../../../styles/mixins";
@import "../../../styles/variables";

.market-card {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  color: #cccccc;
  text-decoration: none;

  &-info {
    width: 50%;
    display: flex;
    align-items: center;

    &-img {
      width: 25%;

      img {
        width: 100%;
      }
    }

    &-desc {
      margin-left: 0.75rem;
      span {
        display: block;
      }
    }

    @include for-desktop {
      width: 70%;
    }
  }

  &-qty {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-desktop {
      width: 15%;
    }
  }

  &-price {
    width: 25%;
    padding-top: 0.5rem;
    text-align: center;

    span {
      display: block;
    }

    @include for-desktop {
      padding-top: 1.25rem;
      width: 15%;
    }
  }

  &:hover {
    border: 1px solid #999;
  }
}
