section{
    margin-top: 2rem;

    h1 {
        color: #fff;
        font-weight: normal;
        font-size: 1.5rem;
    }
    
    h2 {
        color: #999;
        font-weight: normal;
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
    }
}