<div class="card">
    <a routerLink="/game/{{game.id}}" class="card-img" title="{{ game.title }}">
        <img src="{{ imageUrl }}" width="100%" alt="">
    </a>

    <div class="card-info">
        <div class="card-info-price-tag">
            <div>
                -{{sale.discount}}%
            </div>
            <div>
                <span>Rp {{game.price}}</span>
                <span>Rp {{ (game.price * (100 - sale.discount)) / 100 }}</span>
            </div>
        </div>
    </div>
</div>
