<section id="manage-game">
    <section>
        <div class="manage-game-container">
            <div class="manage-game-container-left">
                <h2>Manage Game</h2>

                <ul>
                    <li>
                        <a routerLink="/admin/manage-game">
                            <i class="fas fa-gamepad"></i>
                            All Games
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/manage-game/add">
                            <i class="fas fa-plus-square"></i> Add Games
                        </a>
                    </li>
                </ul>

                <h2 style="margin-top: 2rem;">Other</h2>
                <ul>
                    <li>
                        <a routerLink="/admin/manage-promo">
                            <i class="fas fa-plus-square"></i> 
                            Go to Manage Promo
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/manage-user">
                            <i class="fas fa-plus-square"></i> 
                            Go to Manage User
                        </a>
                    </li>
                </ul>
            </div>

            <div class="manage-game-container-right">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</section>