div {
    color: #f6f6f6;
    h3 {
        font-weight: normal;
        margin-bottom: 0.3rem;
    }

    div {
        margin-bottom: 0.3rem;
        span {
            color: #999;
        }
    }
}