@import "../../../styles/mixins";

.featured-card {
    display: flex;

    &-img {
        width: 70%;
        img {
            height: auto;
        }
    }

    &-desc {
        width: 30%;
        display: none;
        position: relative;
        height: inherit;
        background-color: #101A23;
        color: #fff;

        h2 {
            font-size: 1.5rem;
            font-weight: normal;
            padding: 0.7rem;
            padding-top: 1.2rem;
        }

        p {
            padding: 0.7rem;
        }

        div {
            padding: 0.7rem;

            span:first-child { /* Now Available Text */
                font-size: 1.4rem;
                display: block;
            }

            span:nth-child(2) { /*Price */
                position: absolute;
                bottom: 1rem;
            }
        }

        @include for-desktop {
            display: block;
        }
    }
}