<a routerLink="/game/{{game.id}}">
    <section class="featured-card">
        <div class="featured-card-img">
            <img src="{{imageUrl}}" style="width: 100%;" alt="">
        </div>
    
        <div class="featured-card-desc">
            <h2>{{ game.title }}</h2>
            <p>
                {{ game.description }}
            </p>
            <div>
                <span class="now-available">Now Available</span>
                <span class="price">
                    <span [class.discount]="game.sale.discount != 0">{{game.price | currency:"Rp. " }}</span>
                    <span *ngIf="game.sale.discount != 0">
                        {{((100 - game.sale.discount) / 100) * game.price | currency:"Rp. "}}
                    </span>
                </span>
            </div>
        </div>
    </section>
</a>