<section id="manage-promo">
    <section>
        <div class="manage-promo-container">
            <div class="manage-promo-container-left">
                <h2>Manage Promo</h2>

                <ul>
                    <li>
                        <a routerLink="/admin/manage-promo">
                            <i class="fas fa-gamepad"></i>
                            All Promo
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/manage-promo/add">
                            <i class="fas fa-plus-square"></i> Add Promo
                        </a>
                    </li>
                </ul>

                <h2 style="margin-top: 2rem;">Other</h2>
                <ul>
                    <li>
                        <a routerLink="/admin/manage-game">
                            <i class="fas fa-plus-square"></i> 
                            Go to Manage Game
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/manage-user">
                            <i class="fas fa-plus-square"></i> 
                            Go to Manage User
                        </a>
                    </li>
                </ul>
            </div>

            <div class="manage-promo-container-right">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</section>