@import "../../../styles/variables";

ul {
  display: flex;
  background: #3a3a3a;
  margin-top: 2.5rem;
  overflow: auto;

  li {
    list-style: none;
    color: #f4f4f4;
    cursor: pointer;
    padding: 0.75rem 1rem;

    background-color: #3a3a3a;
    border-right: 1px solid #666;
    &:hover {
      color: #fff;
    }
  }
}

.active {
  background: #1f1f1f !important;
  // background: red;
}
